Aplicaciones/
.DS_Store
global_debug_startup.log
Oficina Tecnica/Registro de Control de Producto/Codigos/Dashboard_PO/.venv_mac/
Oficina Tecnica/Registro de Control de Producto/Codigos/Dashboard_PO/*.bak
